services:
  app:
    build: .
    ports:
      - "3000:3000"
    environment:
      DATABASE_URL: postgres://postgres:postgres@db:5432/metaai
      NODE_ENV: development # ou production
    depends_on:
      - db
    # Remova os volumes que podem causar conflitos durante o build
    # volumes:
    #   - .:/app
    #   - /app/node_modules
